@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&family=Pacifico&family=Solway:wght@300&display=swap');


:root {
    --color-primary: #64D633;
    --font-paragraph: 'Solway', serif;
    --font-beautiful-heading: 'Pacifico', cursive;
    --font-normal-heading:'Noto Sans KR', sans-serif;
}


body {
    margin: 0.5rem 0.5rem;
}


/* HEADER */

header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
}

#hamburgerBtn {
    display: grid;
    grid-column: 3;
    text-align: center;
    align-items: center;
    font-size: 1.5rem;
}

nav {
    display: grid;
    grid-column: 1/4;
    grid-row: 2;
    text-align: center;
    align-items: center;
}

#hr-nav {
    display: grid;
    grid-column: 1/4;
    grid-row: 3;
    width: 100%;
}

nav ul {
    list-style-type: none;
    padding-left: 0;
}

header .logo {
    font-family: var(--font-beautiful-heading);
    font-size:1.5rem;
    margin: 0;
}

.point-logo {
    color: var(--color-primary);
}

/* li a:hover {
    background-color: #ffb703;
    color: #023047;
}

.active {
    background-color: #ffb703;
    color: #023047;
} */

nav ul {display: none;}
nav ul.open {display: grid;}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}
