@media only screen and (min-width: 64rem) {

    /*HEADER*/

    header {
        margin: 0 6em;
    }
    #primaryNav {
        display: flex;
        justify-content: center;
        text-align: left;
    }

    nav ul li {
        border: none;
    }

    /* MAIN */

    main {
        margin: 0 4em;
    }

    .grid-home {
        grid-template-columns: 1fr 1fr 0.2fr 1fr 1fr;
    }

    .hero-text {
        grid-column: 1/3;
        grid-row: 1/3;
    }

    .img-juice {
        grid-column: 4/6;
        grid-row: 1/3;
        
    }

    .description-hero {
        grid-column: 1/3;
        grid-row: 2;
    }

    .order-button {
        grid-column: 1;
        grid-row: 3;
    }

    .paragraph-juice {
        grid-column: 4/6;
        grid-row: 3;

    }

    .display-number-orders {
        height: 60px;
    }

    .weatherSection {
        grid-column: 2/5;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .headingWeather {
        grid-column: 2;
    }

    .weath-img {
        grid-column: 2;
    }

    .weatherSection .true-center {
        grid-area: 0;
    }
    table {
        grid-column: 2/4;
        
    }










}