@media only screen and (min-width: 64rem) {

    /*HEADER*/

    header {
        margin: 0 6em;
    }
    #primaryNav {
        display: flex;
        justify-content: center;
        text-align: left;
    }

    nav ul li {
        border: none;
    }

    /* MAIN */

    main {
        margin: 0 6em;
    }

    .grid-home {
        grid-template-columns: .5fr 1fr 1fr .5fr;
    }

    .hero-text {
        grid-column: 1/3;
        grid-row: 1/3;
        justify-content: center;
        font-size: 3.5rem;
        margin-bottom: 2rem;
    }

    .img-juice {
        display: none;
        
    }

    .img-juice2 {
        display: grid;
        grid-column: 3/5;
        grid-row: 1/3;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .description-hero {
        grid-column: 1/3;
        grid-row: 2;
        justify-content: center;
        font-size: 1.2rem;
    }

    .form-button {
        grid-column: 1;
        grid-row: 3;
    }

    .order-button {
        height: 50%;
    }

    .paragraph-juice {
        grid-column: 3/5;
        grid-row: 3;

    }

    .display-number-orders {
        height: 60px;
    }

    .weatherSection {
        grid-column: 2/4;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .headingWeather {
        grid-column: 2;
        font-size: 3rem;
    }

    .weath-img {
        grid-column: 2;
    }

    .weatherSection .true-center {
        grid-area: 0;
    }
    table {
        grid-column: 2/4;
        font-size: 2rem;
        
    }

    #top-weath {
        display: grid;
        grid-column: 1/3;
    }

    /* FOOTER */

    footer {
        margin: 0 6em;
    }


    .social-links {
        grid-column: 3;
    }
    
    footer p:nth-child(4) {
        grid-column: 2;
        grid-row: 3;
        /*phone number*/
    }

    footer p:nth-child(3) {
        grid-column: 2;
        grid-row: 2;
        /* gmail */
    }


    /* FORM */

    .grid-fresh {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .grid-fresh h2 {
        display: grid;
        grid-column: 1/3;

    }

    #mix-form {
        display: grid;
        grid-column: 1;
        grid-row: 2;
    }

    .form-output {
        display: grid;
        grid-column: 2;
        grid-row: 2;
    }

    #mix-btn {
        width: 40%;
    }

    #mix-form label input {
        width: 40%;
    }

    /* ABOUT US */

    .grid-about {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;

    }

    #our-story {
        display: grid;
        grid-column: 1;
        text-align: justify;
    }

    #contact {
        display: grid;
        grid-column: 2;
    }




}   