@media only screen and (min-width: 60em) {
    
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }

    main section:nth-child(3) {
		grid-column: span 1;
	}
    

    main,
    header,
    footer {
        width: 900px;
        margin: 1.25rem auto;
    }

    body {
        margin: 0;
        height: 100%;
        width: 100%;
    }

    section img {
        width: 80%;
        height: auto;
    }

    
}