/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%
}


/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


header {
    display: grid;
    grid-template-columns: 20% 45% 8% 8% auto;
    justify-items: center;
    background-color: #219EBC;
    color: white;
    font-family: 'Exo', sans-serif;
    padding: 0.5em;
}


header section {
    display: grid;
    grid-column: 1/6;
    grid-row: 3;
    border: 1px solid #023047;
    background-color: #023047;
    color: #ffb703;
    padding: 5px 5px;
    width: 100%;
    justify-content: center;
}

nav {
    display: grid;
    grid-column:-1/1;
    grid-row: 2;
    width: 100%;

}

nav ul{
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: white;
    border-top: 1px solid white;
}

/* THE LOGO IMAGE */
.item:nth-child(1) {
    justify-self: flex-end;
    height: 60px;
    margin: 5px;
}

.item:nth-child(2) {
    font-size: 1.2rem;
    margin:10px; 
    justify-self: flex-start;
    max-width: 80%;
}

.icon-media {
    height: 25px;
    margin: 15px 0px;
}

.item:nth-child(5) {
    justify-self: flex-end;
    font-size: 30px;
    padding: 2px;
    margin: 16px 0px;
}

nav ul li a:hover {
    background-color: #ffb703;
    /* background-color: #fb8500; */
    color: #023047;
}

/* Class Selectors */
.active {
    background-color: #ffb703;
    color: #023047;
}

nav ul {display: none;}
nav ul.open {display: block;}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}


/* MAIN */
/* MAIN */
/* MAIN */


main {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 0.5rem;
    font-family: 'Poppins', sans-serif;
    font-size: 0.6rem;
}


.herodiv {/* contain HERO IMG*/
    background-color: #eee;
    color: black;
    height: 200px;
    margin-top: 10px;
	position: relative; 
}

.heroImage img {
    width: 100%;
    height: 100%;
}
.stats button {/* JOIN THE CHAMBER*/
	position: absolute;
	top: 110px;
	right: 10px;
	background: #ffb703;
    color: black;
    height: auto;
    width: auto;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 15px black;
    font-size: 1rem;
}

button:hover {
    size: 20px;
    text-decoration: none;
}

button:link {
    text-decoration: none;
}

button a {
    text-decoration: none;
}

.stats2 {/* welcome to the esmeraldas chamber*/
	position: absolute;
	top: 10px;
	left: 10px;
	background-color: #023047;
    color: #ffb703;
    height: auto;
    width: auto;
    opacity: 0.8;
    padding: 10px;
}


.nowEvent {/* Cointain  NETWORKING*/
    background-color: #023047;
    color: white;
    height: 200px;
    padding: 10px;
    margin-top: 10px;
}
.nowE1 {/* headline Networking*/
    display: grid;
    justify-content: center;
    background-color:#219EBC ;
    font-size: 0.9rem;
}
.nowE2 {/* Free IceCream.*/
    display: grid;
    justify-content: center;
    font-size: .7rem;
}
.nowE3 { /* Thursday at 7pm.....*/
    display: grid;
    text-align: center;
    font-size: 1rem;
    color:white ;
    padding: 10px;
}

.Weather{/* Cointain WEATHER*/
    background-color: #023047;
    color: white;
    height: 200px;
    padding: 10px;
    margin-top: 10px;
}
.Weather figure img{/* image cloud and sun*/
    width: 100%;
    height: 100%;
    
}
.Weather figure {/* box of image*/
    display: grid;
    float: left;
    justify-content: center;
    padding: 10px;
    margin: 0;
}
.weath1 {/* Weather cloud*/
    display: grid;
    justify-content: center;
    background-color:#219EBC ;
}
.weath2 {/* Esmeraldas Wind..*/
    display: grid;
    text-align: center;
}

.contain_Join {/* Join section*/
    background-color: #023047;
    color: white;
    height: 200px;
    padding: 10px;
    margin-top: 10px;
    display: none;
}

.newsRelease {/* news release section*/
    background-color: #023047;
    color: black;
    height: 200px;
    padding: 10px;
    margin-top: 10px;
}

.newsR1 {
    display: grid;
    justify-content: center;
    background-color: #ffb703;
    font-size: 0.8rem;
}
.newsR2 {
    display: grid;
    text-align: justify;
    font-size: 0.6rem;
    color: #ffb703;
    line-height: 1.2rem;
    padding: 10px;
}

/* SPOTLIGHT SECTION */
.Spotlight {
    grid-template-columns: 1fr;
    display: grid;
    background-color: #219EBC;
    color: black;
    height: 600px;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 10px;
}
/* SPOTLIGHT SECTION */


.Spot1 {
    display: grid;
    grid-row: 1;
    background-color: white;
    color: #ffb703;
    box-shadow: 0 0 10px black;
    padding: 2px;
    gap: 2px;

}
.Spo1A {/* TITLE pizzahub*/
    display: grid;
    justify-content: center;
    background-color:#023047;
    font-size: 1.5rem;
    line-height: 1px;
}
.Spo1B {/* box image pizzahub*/
    float: left;
    display: grid;
    justify-content: center;
}
.Spot1 img{/* image pizzahub*/
    width: auto;
    height: 80px;
    background-color: white;
}
.Spo1C {/* text*/
    display: grid;
    justify-content: center;
    background: #ffb703;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: auto;
    width: auto;
    font-size: 1.5rem;
    line-height: 1px;
}
.Spo1D {/* text contac@pizzahub.com*/
    display: grid;
    justify-content: center;
    color: white;
    background-color: #023047;
    font-size: 1.5rem;
    line-height: 1px;
}



.Spot2 {
    display: grid;
    grid-row: 2;
    background-color: white;
    color: #ffb703;
    box-shadow: 0 0 10px black;
    padding: 2px;
    gap: 2px;

}
.Spot2A {/* TITLE pizzahub*/
    display: grid;
    justify-content: center;
    background-color:#023047;
    font-size: 1.5rem;
    line-height: 1px;
}
.Spot2B {/* box image pizzahub*/
    float: left;
    display: grid;
    justify-content: center;
}
.Spot2B img{/* image pizzahub*/
    width: auto;
    height: 80px;
    background-color: white;
}
.Spot2C {/* text*/
    display: grid;
    justify-content: center;
    background: #ffb703;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: auto;
    width: auto;
    font-size: 1.5rem;
    line-height: 1px;
}
.Spot2D {/* text contac@pizzahub.com*/
    display: grid;
    justify-content: center;
    color: white;
    background-color: #023047;
    font-size: 1.5rem;
    line-height: 1px;
}



.Spot3 {
    display: none;
    grid-row: 2;
    background-color: white;
    color: #ffb703;
    box-shadow: 0 0 10px black;
    padding: 2px;
    gap: 2px;

}
.Spot3A {/* TITLE pizzahub*/
    display: grid;
    justify-content: center;
    background-color:#023047;
    font-size: 1.5rem;
    line-height: 1px;
}
.Spot3B {/* box image pizzahub*/
    float: left;
    display: grid;
    justify-content: center;
}
.Spot3B img{/* image pizzahub*/
    width: auto;
    height: 80px;
    background-color: white;
}
.Spot3C {/* text*/
    display: grid;
    justify-content: center;
    background: #ffb703;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: auto;
    width: auto;
    font-size: 1.5rem;
    line-height: 1px;
}
.Spot3D {/* text contac@pizzahub.com*/
    display: grid;
    justify-content: center;
    color: white;
    background-color: #023047;
    font-size: 1.5rem;
    line-height: 1px;
}



/* FOOTER */
/* FOOTER */
/* FOOTER */

footer {
    display: grid;
    grid-template-columns: 1fr;
    line-height: 0.1rem;
    font-size: 1rem;
    background-color: #023047;
    color: #ffb703;
    font-family: 'Exo', sans-serif;
    padding: 10px;
    justify-items: center;
}



.footer1 {
    display: grid;
    justify-items: center;
}


.footer2 {
    display: grid;
    justify-items: center;
}





hr {
    width: 100%;
}




.footer3 {
    display: grid;
    justify-items: center;
    color: white;
    padding-top: 10px;
    gap: 10px;
}
.foot3A {
    border: 1px solid gray;
    padding:0px 10px;
}
.foot3B {
    border: 1px solid gray;
    padding:0px 10px;
}
.foot3C {
    border: 1px solid gray;
    padding:0px 10px;
}
.foot3D {
    border: 1px solid gray;
    padding:0px 10px;
}

/* DISCOVER */
/* DISCOVER */
/* DISCOVER */

.demographic_data_section {
    margin-bottom: 10px;
}
.discover_title {
    text-align: center;
}
.overlay {
    font-size: 1rem;
    color: #023047;
}
table {
    font-size: 1rem;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #023047;
    text-align: center;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #023047;
    color:white;
}

.discover_image_section {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    gap: 10px;
}

/******** JOIN **********/
.joinpage {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.join-dv {
    display: flex;
    flex-direction: column;
    align-items: center;
    

    width: auto;
    height: auto;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    
}

.joinpage h2:nth-child(1) {
    font-size: 2rem;
    font-family: 'Exo', sans-serif;
}

/******** FORM **********/


.form {
    height: auto;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

legend {
    font-size: 1rem;
}
.form .top {
    font-size: 1rem;
}

.form h2 {
    margin-bottom: 0;
}

form legend {
    color: #001D3D;
    margin: 0;
    font-family: "Kanit",sans-serif;
    font-style: italic;
    padding: 0 .5rem;
    
}
form label.top, form div {
    display: block;
    color: #000814;
    margin: 1rem 0;
}

form label.top input, form label.top select {
    display: block;
    font-size: 1.5rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: 1rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #001D3D;
    margin-left: 1.5rem;
}

form label textarea {
    display: block;
    width: 100%;
    padding: 1rem;
    max-width: 20rem;
}

form fieldset {
    margin: 2rem 0;
    border: none;
    border-radius: 10px;
}


form input.submitBtn {
    border: none;
    background-color: #FFC300;
    color: #000;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 5%;
    width: 96%;
    max-width: 20rem;
    font-size: 1rem;
}
form input.submitBtn:hover {
    background-color: #FFD60A;
}

form label.top input:required {
    background-color: none;
    color: white;
}

form label.top input:required:valid {
    background-color: gray;
    color: white;
}

.form .sbs {
    font-size: 1rem;
}
/******** MEMBERSHIP PRICES **********/
.membership-prices {
    height: auto;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    text-align: center;
    flex-direction: column;
}
.prices {
    width: 100%;
    height: auto;
    background: none;
    box-shadow: 0 2px 5px #000
}
.prices h3 {
    color: #003566;
    font-size: 3rem;
    background: gray;
    overflow: hidden;
}
.prices h4 {
    font-size: 2rem;
}
.prices span {
    display: block;
    font-size: 1.5rem;
    text-align: left;
    margin-left: 10px;
}

.np-membership h3 {
    background: rgb(205, 127, 50);
}
.bronze-membership h3 {
    background: #D3D3D3;
}
.silver-membership h3 {
    background: #ffd700;
}
.gold-membership h3 {
    background: #287233;
    color: white;
}

/******** THANKYOU PAGE ******/
.thankyou {
    height: auto;
    text-align: center;
    color:black ;
    padding: 20px;
    font-size: 2rem;
}

/******** DIRECTORY PAGE ******/
.directory .cards img {
    height: 150px;
    width: 200px;
}

/*Telepiza img*/
.directory .cards section:nth-child(3) img {
    width: 300px;
}

/*little caesars img*/
.directory .cards section:nth-child(6) img {
    width: 300px;
    height: 80px;
}

/*Dunkin Donuts img*/
.directory .cards section:nth-child(9) img {
    width: 300px;
}


.directory h1 {
    text-align: center;
}

.directory .menu {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 30px;
    font-size: 1rem;
}

.directory .menu #grid {
    border-radius: 5px;
    border: 1px solid transparent;
    padding: 10px 5px;  
    text-transform: uppercase;
    cursor: pointer;
    background-color: #ffb703;
    color: black;
    width: 70px;
}

.directory .menu #grid:hover{
    background-color: #FFC942;
    color: black;
}

.directory .menu #list {
    border-radius: 5px;
    border: 1px solid transparent;
    padding: 10px 5px;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #ffb703;
    color: black;
    width: 70px;
}

.directory .menu #list:hover{
    background-color: #FFC942;
    color: black;
    
}

.cards.grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.cards.list {
    display: inline;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.cards section {
    border: 1px solid gray;
    padding: 10px;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    
}

.list section img {
	display: none; /* smaller viewports only */
}

.list section {
	display: flex;
	align-items: center;
    flex-wrap: wrap;
}
.list section > * {
	margin: 0 1rem;
	text-align: left;
}


#thankMain {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    justify-items: center;
    line-height: 0.1rem;

}