@media only screen and (min-width: 64rem) {

    
    #hamburgerBtn span:nth-child(1) {display: none;}
    header {
        display: grid;
        grid-template-columns: .2fr .5fr 2fr .2fr .2fr;
        grid-template-rows: min-content .1fr;
    }
    
    nav ul#primaryNav {
        display: flex; 
        justify-self: flex-end; 
    }

    .item:nth-child(6) {
        display: grid;
        grid-column: 3;
        grid-row: 2;
        font-size: 1.2rem;
        margin-top: 20px
    }

    .item:nth-child(1) {
        display: grid;
        grid-column: 1;
        grid-row: 2;
    }

    .item:nth-child(2) {
        display: grid;
        grid-column: 2;
        grid-row: 2;
        justify-self: flex-start; 
    }

    .item:nth-child(3) {
        display: grid;
        grid-column: 4;
        grid-row: 2;
        justify-self: flex-end; 
        margin-top: 20px
    }
    .item:nth-child(4) {
        display: grid;
        grid-column: 5;
        grid-row: 2;
        margin-top: 20px
    }

    .item:nth-child(5) {
        margin: 0;
        padding: 0;
    }

    nav ul li a {
        border: none;
        border-right: none;
    }
   
    /* MAIN */
    /* MAIN */
    /* MAIN */

    main {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr 1fr 1fr;
        margin: 0;
        gap: 8px;
    }
    /* HERO SECTION  */
    main section:nth-child(1) {
        grid-column: 2/5;
        grid-row: 1/3;
        height: auto;
        padding: 0px;
    }
    /* JOIN SECTION  */
    main section:nth-child(4) {
        grid-column: 1;
        grid-row: 3;
        padding: 0px;
        margin-top: 0px;
    }
    /* NEWS RELEASE SECTION  */
    main section:nth-child(5) {
        grid-column: 2/5;
        grid-row: 3;
        margin-top: 0px;
        padding: 0px;
    }


    /* SPOTLIGHT SECTION  */
    main section:nth-child(6) {
        display: flex;
        flex-direction: column;
        grid-column: 5/6;
        grid-row: 1/4;
        height: auto;
        gap: 10px;
        padding: 10px;
    }
    main section div:nth-child(1) {
        margin-right: 0px;
        height: 200px;
    }
    main section div:nth-child(2) {
        height: 200px;
    }
    main section div:nth-child(3) {
        display: block;
        height: 200px;
    }

    
    /* EVENT SECTION  */
    main section:nth-child(2) {
        grid-column: 1;
        grid-row: 1;
        margin-right: 0px;
        padding: 0px;
    }
    /* WEATHER SECTION  */
    main section:nth-child(3) {
        grid-column: 1;
        grid-row: 2;
        margin-top: 0px;
        padding: 0px;
        height: auto;
    }

    /* FOOTER */
    /* FOOTER */
    /* FOOTER */

    


}