@media only screen and (min-width: 64rem) {

    
    #hamburgerBtn span:nth-child(1) {display: none;}
    header {
        display: grid;
        grid-template-columns: .2fr .5fr 2fr .2fr .2fr;
        grid-template-rows: min-content .1fr;
    }
    header section {
        display: flex;
        gap: 20px;
    }
    nav ul#primaryNav {
        display: flex; 
        justify-self: flex-end; 
    }

    .item:nth-child(6) {
        display: grid;
        grid-column: 3;
        grid-row: 2;
        font-size: 1.2rem;
        margin-top: 20px
    }

    .item:nth-child(1) {
        display: grid;
        grid-column: 1;
        grid-row: 2;
    }

    .item:nth-child(2) {
        display: grid;
        grid-column: 2;
        grid-row: 2;
        justify-self: flex-start; 
    }

    .item:nth-child(3) {
        display: grid;
        grid-column: 4;
        grid-row: 2;
        justify-self: flex-end; 
        margin-top: 20px
    }
    .item:nth-child(4) {
        display: grid;
        grid-column: 5;
        grid-row: 2;
        margin-top: 20px
    }

    .item:nth-child(5) {
        margin: 0;
        padding: 0;
    }

    nav ul li a {
        border: none;
        border-right: none;
    }
   
    /* MAIN */
    /* MAIN */
    /* MAIN */

    main {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr 1fr 1fr;
        margin-bottom: 10px;
        gap: 10px;
    }
    /* HERO SECTION  */
    .herodiv {
        grid-column: 2/5;
        grid-row: 1/3;
        height: auto;
        padding: 0px;
        background-color: #219EBC;
    }
    .stats2 {
        font-size: 0.8rem;
    }
    /* JOIN SECTION  */
    .contain_Join {
        grid-column: 1;
        grid-row: 3;
        height: 97%;
    }
    .join1 {
        font-size: 0.7rem;
        height: fit-content;
    }
    .join2 {
        font-size: 1rem;
        text-align: justify;
    }
    /* NEWS RELEASE SECTION  */
    .newsRelease {
        grid-column: 2/5;
        grid-row: 3;
        margin-top: 0px;
        padding: 0px;
        height: 100%;
    }
    .newsR2 {
        font-size: 1.1rem;
        line-height: 2rem;
        padding: 20px;
    }

    /* SPOTLIGHT SECTION  */
    .Spotlight {
        display: flex;
        flex-direction: column;
        grid-column: 5/6;
        grid-row: 1/4;
        height: 99%;
        gap: 10px;
        padding: 10px;
    }
    .Spot1 {
        margin-right: 0px;
        height: 100%;
    }
    .Spo1A{
        font-size: 2rem;
        height: fit-content;
    }
    .Spo1C{
        font-size: 1.5rem;
        height: auto;
    }
    .Spo1D {
        font-size: 1.1rem;
        height: auto;
    }

    
    .Spot2 {
        height: 100%;
    }
    .Spot2A{
        font-size: 1.5rem;
        height: fit-content;
    }
    .Spot2C{
        font-size: 1.5rem;
        height: auto;
    }
    .Spot2D {
        font-size: 1.1rem;
        height: auto;
    }


    .Spot3 {
        display: grid;
        height: 100%;
        white-space: nowrap;
    }
    .Spot3A{
        font-size: 2rem;
        height: fit-content;
    }
    .Spot3C{
        font-size: 1.5rem;
        height: auto;
    }
    .Spot3D {
        font-size: 1.1rem;
        height: auto;
    }

    
    /* EVENT SECTION  */
    .nowEvent {
        grid-column: 1;
        grid-row: 1;
        margin-right: 0px;
        padding: 0px;
        height: 100%;
    }
    .nowE1 {
        font-size: 1rem;
    }

    .nowE3 {
        font-size: 1.5rem;
    }


    /* WEATHER SECTION  */
    .Weather {
        display: grid;
        grid-column: 1;
        grid-row: 2;
        margin-top: 0px;
        padding: 0px;
        height: 100%;
        margin-top: 10px;
    }
    .Weather figure {
        display: grid;
    }
    .weath1 {
        font-size: 1rem;
    }
    .weath1 h2{
        font-size: 1rem;
        margin-top: 19px;
        margin-bottom: 19px;
    }
    .weath2 {
        display: inline-block;
        font-size: 1rem;
        text-align: center;
        padding: 0;
        margin: 0;
        flex-wrap: wrap;
        line-height: normal;
    }

    /* DISCOVER HOVER IMAGES */
    /* DISCOVER HOVER IMAGES */
    /* DISCOVER HOVER IMAGES */

    .dicover_image_container {
        position: relative;
        width: 100%;
        max-width: 300px;
    }
      
    .discover_image {
        display: block;
        width: 100%;
        height: auto;
    }
      
    .overlay {
        position: absolute; 
        bottom: 0; 
        background: rgb(2, 48, 71);
        background: rgba(2, 48, 71, 0.5); /* Black see-through */
        width: 100%;
        transition: .5s ease;
        opacity:0;
        color: white;
        font-size: 20px;
        padding: 20px;
        text-align: center;
    }

    .dicover_image_container:hover .overlay {
        opacity: 1;
    }

    /* DISCOVER */
    /* DISCOVER */
    /* DISCOVER */

    .discover_container {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 2fr 1fr;
        width: 100%;
    }
    .demographic_data_section {
        grid-column: 2/3;
        margin-bottom: 20px;
    }
    .discover_image_section{
        grid-column: 2/3;
        text-align: center;
    }

    .thankyou {
        display: grid;
        grid-column: 1/6;
        grid-row: 1/4;
    }



    /* FOOTER */
    /* FOOTER */
    /* FOOTER */


    .footer3 {
        display: grid;
        grid-template-rows: 1fr;
    }


    .foot3D {
        display: grid;
        grid-column: 4;
        grid-row: 1;
        white-space: nowrap;
        font-size: 0.8rem;
    }

    /******** DIRECTORY PAGE ******/

    .directory {
        display: grid;
        grid-row: 1/4;
    }




}